<!-- add_vehicle.html -->

<!-- NUEVO FORMATO add_vehicle.html -->
{% extends 'base.html' %}

{% block title %}Add Vehicle{% endblock %}

{% block content %}
    <h1>Add Vehicle</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
{% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vehicle</title>
</head>
<body>
    <h1>Add Vehicle</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>    
</body>
</html>
-->