<!-- delete_vehicle.html -->

<!-- NUEVO FORMATO delete_vehicle.html -->
{% extends 'base.html' %}

{% block title %}Delete Vehicle{% endblock %}

{% block content %}
    <h1>Delete Vehicle</h1>
    <p>Are you sure you want to delete "{{ vehicle.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
{% endblock %}

<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Vehicle</title>
</head>
<body>
    <h1>Delete Vehicle</h1>
    <p>Are you sure you want to delete "{{ vehicle.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</body>
</html>

-->