<!-- vehicle_list.html -->

<!-- NUEVO FORMATO vehicle_list.html HEREDA DE BASE -->
{% extends 'base.html' %}

{% block title %}Lista de Vehículos{% endblock %}

{% block content %}
    <h1>Lista de Vehículos</h1>
    <ul>
        {% for vehicle in vehicle_list %}
            <li>
                <a href="{% url 'vehicle_detail' vehicle.id %}">{{ vehicle.name }}</a>
                <img src="{{ vehicle.image.url }}" alt="{{ vehicle.name }} Image">
            </li>
        {% endfor %}
    </ul>
{% endblock %}

<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vehículos</title>
</head>
<body>
    <h1>Lista de Vehículos</h1>
    <ul>
        {% for vehicle in vehicle_list %}
            <li>
                <a href="{% url 'vehicle_detail' vehicle.id %}">{{ vehicle.name }}</a>
                <img src="{{ vehicle.image.url }}" alt="{{ vehicle.name }} Image">
            </li>
        {% endfor %}
    </ul>
</body>
</html>

-->